body{
	background:url("../img/dark_geometric.png");
	background-repeat: repeat;
	background-color:#333;
	color:#fff;
	font-family: 'Oswald', 'sans-serif';
}

p, a{
	font-family: helvetica;
	font-weight: thin;
}


h1, h2, h3{
	font-weight: bold;
}


.home_hero{
	background: url('../img/hero_1.jpg');
	background-repeat: no-repeat;
}

.jumbotron{
	height: 500px !important; 
}

.jumbotron.home_hero > div > h1{
	padding: 50px 0 0 0;
}

.btn-primary{
	background-color: #0658be;
}